
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Star Admin2 </title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/vendors/feather/feather.css">
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/star-admin2-free-admin-template-main/template/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/star-admin2-free-admin-template-main/template/images/favicon.png" />
     <link href="~/css/jquery.datatables.min.css" rel="stylesheet" />
    <link href="~/css/buttons.datatables.min.css" rel="stylesheet" />
    <style>
        tfoot input {
            width: 100%;
            padding: 3px;
            box-sizing: border-box;
        }</style>
   
</head>