<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="~/star-admin2-free-admin-template-main/template/index.html">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/star-admin2-free-admin-template-main/template/index.html">
                <i class="mdi mdi-account-multiple-plus"></i>
                <span class="menu-title">Toplantı Talepleri</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/star-admin2-free-admin-template-main/template/index.html">
                <i class="mdi mdi-account-check"></i>
                <span class="menu-title">Yapılan Toplantılar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/star-admin2-free-admin-template-main/template/index.html">
                <i class="mdi mdi-account-key"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/star-admin2-free-admin-template-main/template/index.html">
                <i class="mdi mdi-airplane-takeoff"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>



    </ul>
</nav>