
<head>
    <meta charset="utf-8">
    <title>Ege Meeting</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/dtox-1.0.0/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/dtox-1.0.0/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/dtox-1.0.0/plugins/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="~/dtox-1.0.0/plugins/bootstrap/bootstrap.min.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="~/dtox-1.0.0/plugins/themify-icons/themify-icons.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="~/dtox-1.0.0/plugins/slick/slick.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="~/dtox-1.0.0/plugins/Venobox/venobox.css">
    <!-- aos -->
    <link rel="stylesheet" href="~/dtox-1.0.0/plugins/aos/aos.css">

    <!-- Main Stylesheet -->
    <link href="~/dtox-1.0.0/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/dtox-1.0.0/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/dtox-1.0.0/images/favicon.ico" type="image/x-icon">

</head>